<section class="thirteen columns">
    <h1>Education</h1>
	<article>
        <header>
            <h1>BSc in Information Technology</h1>
            <span>Metropolia UAS</span>
            <span><address>Helsinki, Finland</address><time>2018 to Present </time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>MSc in Physics</h1>
            <span>Babes-Bolyai University</span>
            <span><address>Cluj Napoca, Romania</address><time>2004 to 2005</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>BSc in Mathematics</h1>
            <span>Babes-Bolyai University</span>
            <span><address>Cluj Napoca, Romania</address><time>1999 to 2003</time></span>
        </header>
    </article>
</section>
