<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Edinburgh, UK</address><time>2015 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Kindergarten teacher</h1>
            <span><address>Stepping Stones Kindergarten,Espoo, Finland</address><time>2011 to 2018</time></span>
        </header>
        <p>Provided a positive, stimulating and safe learning environment for the children through empathy, good communication skills and sense of humor.</p>
        <p>Understood and met costumers cultural needs and adapted accordingly the communication style.</p>
    </article>
    <article>
        <header>
            <h1>Mathematic and Physics teacher </h1>
            <span><address>Horea School, Cluj Napoca, Romania</address><time>2004 to 2010</time></span>
        </header>
        <p>Achieved outstanding results in preparing students for national and international competitions.</p>
        <p>Implemented a positive and stimulating learning environment for the students through empathy, good communication skills and sense of humor.</p>
        <p>Promoted deep understanding rather than mechanical learning.</p>
        <p>Organised inter scholar partnerships</p>
    </article>
    <article>
        <header>
            <h1>Technical Documentation Specialist</h1>
            <span><address>Dynamic Building, Cluj Napoca, Romania</address><time>2007 to 2008</time></span>
        </header>
        <p>Managed technical documents</p>
        <p>Developed and maintained information architecture</p>
    </article>
</section>
