<section class="thirteen columns">
    <h1>Additional trainings</h1>
    <article>
        <header>
            <h1>National Vocational Qualification in Children and Young People’s Workforce, Early Learning and Childcare</h1>
            <span><address>Espoo, Finland</address><time>2012 to 2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Professional Training in Math test preparing and student performance evaluation</h1>
            <span><address>Cluj Napoca, Romania</address><time>2008 to 2009</time></span>
        </header>
    </article>
</section>