<section class="thirteen columns">
    <h1>Languages</h1>
    <article>
       <header>
            <h1>English</h1>
        </header>
		<p>Fluent</p>
    </article>
	 <article>
       <header>
            <h1>Finnish</h1>
        </header>
		<p>Intermediate</p>
    </article>
	 <article>
       <header>
            <h1>Hungarian</h1>
        </header>
		<p>Native language</p>
    </article>
	 <article>
       <header>
            <h1>Romanian</h1>
        </header>
		<p>Fluent</p>
    </article>
</section>
<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p>Movies, Travelling, Baking.</p>
    </article>
</section>